{
/*
Recipes for the Blast Furnace and Arc Smelter.
Structure:

	"itemName" : {
		"count" : 2,             // amount of items consumed in this recipe
		"timeMult" : 1,          // multiplier on the time (and power) needed to process
		"extraWasteChance" : 0,  // added to the base chance to waste materials
		"powerMult" : 1,         // multiplier on the power consumed to process
		"outputs" : {
			"outputItemName" : { "amount" : 1.50, "arcbonus" : 0.20 },
			...
		}
	}
*/
	"defaultCount" : 2,  // Default amount of items to consume.

	"recipes" : {
		// BLOCKS
		"mud" : {
			"outputs" : {
				"mudstonematerial" : { "amount" : 1.60, "arcbonus" : 0.30 }
			}
		},
		"clay" : {
			"outputs" : {
				"firedclay" : { "amount" : 1.65, "arcbonus" : 0.30 }
			}
		},
		"firedclay" : {
			"outputs" : {
				"brickmaterial" : { "amount" : 1.50, "arcbonus" : 0.40 }
			}
		},
		"bonematerial" : {
			"outputs" : {
				"fuscienceresource" : { "amount" : 1.01, "arcbonus" : 0.01 }
			}
		},
		"blaststone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.30 },
				"sulphur" : { "amount" : 0.16, "arcbonus" : 0.20},
				"liquidlava" : { "amount" : 0.16 }
			}
		},
		"cobblestonematerial" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"sulphur" : { "amount" : 0.06, "arcbonus" : 0.10 },
				"lead" : { "amount" : 0.16 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"direstone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"coalore" : { "amount" : 0.15, "arcbonus" : 0.10 },
				"sulphur" : { "amount" : 0.13, "arcbonus" : 0.10 }
			}
		},
		"magmarock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"carbonplate" : { "amount" : 0.12 },
				"sulphur" : { "amount" : 0.16 },
				"liquidlava" : { "amount" : 0.16 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"meteoriterock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"helium3gasliquid" : { "amount" : 0.16 },
				"moonstoneore" : { "amount" : 0.06 },
				"fu_carbondioxide" : { "amount" : 0.16 }
			}
		},
		"moonrock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"helium3gasliquid" : { "amount" : 0.16 }
			}
		},
		"moonstone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.0 },
				"moonstoneore" : { "amount" : 0.16 },
				"fu_carbondioxide" : { "amount" : 0.60, "arcbonus" : -0.60 } // arc smelter doesn't produce this junk
			}
		},
		"sand" : {
			"outputs" : {
				"glass" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"sand2" : {
			"outputs" : {
				"glass" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"drysand" : {
			"outputs" : {
				"glass" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.14, "arcbonus" : 0.10 }
			}
		},
		"heavyironbars" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.0 },
				"ironbar" : { "amount" : 0.12, "arcbonus" : 0.20 }
			}
		},
		"junktech" : {
			"outputs" : {
				"ironore" : { "amount" : 1.16, "arcbonus" : 0.10 },
				"ff_silicon" : { "amount" : 0.16 }
			}
		},
		"rustyblock" : {
			"outputs" : {
				"ironore" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"rustymetal" : {
			"outputs" : {
				"ironore" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"treasurehoard" : {
			"outputs" : {
				"goldbar" : { "amount" : 1.18, "arcbonus" : 0.30 },
				"silverbar" : { "amount" : 0.18, "arcbonus" : 0.30 }
			}
		},

		// VANILLA ORES
		"coalore" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.12, "arcbonus" : 0.10 },
				"sulphur" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"diamond" : { "amount" : 0.01 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"copperore" : {
			"outputs" : {
				"copperbar" : { "amount" : 1.0 },
				"ff_silicon" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"ironore" : { "amount" : 0.13, "arcbonus" : 0.18 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"ironore" : {
			"outputs" : {
				"ironbar" : { "amount" : 1.0 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 },
				"lead" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"liquidironfu" : { "amount" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"silverore" : {
			"outputs" : {
				"silverbar" : { "amount" : 1.0 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.12, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"goldore" : {
			"outputs" : {
				"goldbar" : { "amount" : 1.0 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"platinumore" : {
			"outputs" : {
				"platinumbar" : { "amount" : 1.0 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.12, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"titaniumore" : {
			"outputs" : {
				"titaniumbar" : { "amount" : 1.0 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"corefragmentore" : {
			"outputs" : {
				"liquidlava" : { "amount" : 1.0 }
			}
		},

		// MISC
		"bars" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.0 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.50 }
			}
		},
		"metallic" : {
			"outputs" : {
				"ironore" : { "amount" : 1.0 }
			}
		},
		"fu_carbon" : {
			"outputs" : {
				"ash" : { "amount" : 1.0 },
				"liquidironfu" : { "amount" : 0.18, "arcbonus" : 0.07 },
				"diamond" : { "amount" : 0.005, "arcbonus" : 0.035 },
				"fu_carbonpure" : { "amount" : 0.02, "arcbonus" : 0.06  }
			}
		}
	}
}
