{
/*
Recipes for the Blast Furnace and Arc Smelter.
Structure:

	"itemName" : {
		"count" : 2,             // amount of items consumed in this recipe
		"timeMult" : 1,          // multiplier on the time (and power) needed to process
		"powerMult" : 1,         // multiplier on the power consumed to process
		"arc_only" : false,      // whether only the arc smelter can do this recipe
		"outputs" : {
			"outputItemName" : { "amount" : 1.50, "arcbonus" : 0.20 },
			...
		}
	}
*/
	"defaultCount" : 2,  // Default amount of items to consume.

	"recipes" : {
		// BLOCKS
		"mud" : {
			"outputs" : {
				"mudstonematerial" : { "amount" : 2.40, "arcbonus" : 0.45 }
			}
		},
		"clay" : {
			"outputs" : {
				"firedclay" : { "amount" : 2.475, "arcbonus" : 0.45 }
			}
		},
		"firedclay" : {
			"outputs" : {
				"brickmaterial" : { "amount" : 2.25, "arcbonus" : 0.60 }
			}
		},
		"bonematerial" : {
			"outputs" : {
				"fuscienceresource" : { "amount" : 1.515, "arcbonus" : 0.015 }
			}
		},
		"blaststone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.50 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.30 },
				"sulphur" : { "amount" : 0.16, "arcbonus" : 0.20 },
				"liquidlava" : { "amount" : 0.16 }
			}
		},
		"cobblestonematerial" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"sulphur" : { "amount" : 0.06, "arcbonus" : 0.10 },
				"lead" : { "amount" : 0.16 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"direstone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"coalore" : { "amount" : 0.15, "arcbonus" : 0.10 },
				"sulphur" : { "amount" : 0.13, "arcbonus" : 0.10 }
			}
		},
		"magmarock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"carbonplate" : { "amount" : 0.12 },
				"sulphur" : { "amount" : 0.16 },
				"liquidlava" : { "amount" : 0.16 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"meteoriterock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"helium3gasliquid" : { "amount" : 0.16 },
				"moonstoneore" : { "amount" : 0.06 },
				"fu_carbondioxide" : { "amount" : 0.16 }
			}
		},
		"moonrock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"helium3gasliquid" : { "amount" : 0.16 }
			}
		},
		"moonstone" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"moonstoneore" : { "amount" : 0.16 },
				"fu_carbondioxide" : { "amount" : 0.60, "arcbonus" : -0.60 } // arc smelter doesn't produce this junk
			}
		},
		"alienrock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 },
				"fu_nitrogen" : { "amount" : 0.11, "arcbonus" : 0.10 },
				"vialproto" : { "amount" : 0.18 },
				"liquidnitrogen" : { "amount" : 0.16 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"protorockmaterial" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.5 },
				"fu_nitrogen" : { "amount" : 0.11 },
				"aliencompound" : { "amount" : 0.18 },
				"liquidbioooze" : { "amount" : 0.24 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"obsidian" : {
			"outputs" : {
				"blackglass" : { "amount" : 1.5 }
			}
		},
		"sand" : {
			"outputs" : {
				"glass" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"sand2" : {
			"outputs" : {
				"glass" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"drysand" : {
			"outputs" : {
				"glass" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.14, "arcbonus" : 0.10 }
			}
		},
		"crystalblock" : {
			"outputs" : {
				"ff_silicon" : { "amount" : 1.5 }
			}
		},
		"heavyironbars" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.5 },
				"ironbar" : { "amount" : 0.12, "arcbonus" : 0.20 }
			}
		},
		"junktech" : {
			"outputs" : {
				"ironore" : { "amount" : 1.74, "arcbonus" : 0.15 },
				"ff_silicon" : { "amount" : 0.16 }
			}
		},
		"rustyblock" : {
			"outputs" : {
				"ironore" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"rustymetal" : {
			"outputs" : {
				"ironore" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.10 }
			}
		},
		"treasurehoard" : {
			"outputs" : {
				"goldbar" : { "amount" : 1.77, "arcbonus" : 0.45 },
				"silverbar" : { "amount" : 0.18, "arcbonus" : 0.30 }
			}
		},

		// VANILLA ORES
		"corefragmentore" : {
			"outputs" : {
				"liquidlava" : { "amount" : 1.5 }
			}
		},
		"coalore" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.68, "arcbonus" : 0.15 },
				"sulphur" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"diamond" : { "amount" : 0.01 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"copperore" : {
			"outputs" : {
				"copperbar" : { "amount" : 1.5 },
				"ff_silicon" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"ironore" : { "amount" : 0.13, "arcbonus" : 0.18 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"ironore" : {
			"outputs" : {
				"ironbar" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 },
				"lead" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"liquidironfu" : { "amount" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"silverore" : {
			"outputs" : {
				"silverbar" : { "amount" : 1.5 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.12, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"goldore" : {
			"outputs" : {
				"goldbar" : { "amount" : 1.5 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"platinumore" : {
			"outputs" : {
				"platinumbar" : { "amount" : 1.5 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.12, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"tungstenore" : {
			"outputs" : {
				"tungstenbar" : { "amount" : 1.5 },
				"fu_hydrogen" : { "amount" : 0.16, "arcbonus" : 0.06 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.09 }
			}
		},
		"titaniumore" : {
			"outputs" : {
				"titaniumbar" : { "amount" : 1.5 },
				"ff_silicon" : { "amount" : 0.16, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.13, "arcbonus" : 0.10 },
				"fu_carbondioxide" : { "amount" : 0.30 }
			}
		},
		"durasteelore" : {
			"outputs" : {
				"durasteelbar" : { "amount" : 1.5 },
				"fu_nitrogen" : { "amount" : 0.15, "arcbonus" : 0.07 },
				"fu_carbon" : { "amount" : 0.16, "arcbonus" : 0.09 }
			}
		},
		"uraniumore" : {
			"outputs" : {
				"uraniumrod" : { "amount" : 1.5 },
				"lead" : { "amount" : 0.03, "arcbonus" : 0.03 },
				"plutoniumore" : { "amount" : 0.01, "arcbonus" : 0.03 },
				"unstableparticles" : { "amount" : 0.04, "arcbonus" : 0.02 },
				"uraniumore" : { "amount" : 0.03, "arcbonus" : 0.03 }
			}
		},
		"plutoniumore" : {
			"outputs" : {
				"plutoniumrod" : { "amount" : 1.5 },
				"lead" : { "amount" : 0.03, "arcbonus" : 0.03 },
				"uraniumore" : { "amount" : 0.08, "arcbonus" : 0.02 },
				"unstableparticles" : { "amount" : 0.04, "arcbonus" : 0.02 },
				"plutoniumore" : { "amount" : 0.03, "arcbonus" : 0.03 }
			}
		},
		"aegisaltore" : {
			"outputs" : {
				"refinedaegisalt" : { "amount" : 1.5 },
				"helium3gasliquid" : { "amount" : 0.18, "arcbonus" : 0.04 },
				"staticcell" : { "amount" : 0.15, "arcbonus" : 0.05 }
			}
		},
		"violiumore" : {
			"outputs" : {
				"refinedviolium" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"fuscienceresource" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"feroziumore" : {
			"outputs" : {
				"refinedferozium" : { "amount" : 1.5 },
				"fu_hydrogen" : { "amount" : 0.18, "arcbonus" : 0.04 },
				"iodine" : { "amount" : 0.25 }
			}
		},
		"solariumore" : {
			"outputs" : {
				"solariumstar" : { "amount" : 1.5 },
				"ultronium" : { "amount" : 0.08 }
			}
		},

		// FU ORES
		"mascagniteore" : { 
			"outputs" : {
				"ammoniumsulfate" : { "amount" : 1.77, "arcbonus" : 0.15 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"magnesiumore" : {
			"outputs" : {
				"magnesiumpowder" : { "amount" : 1.77, "arcbonus" : 0.15 },
				"fu_oxygen" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"cinnabarore" : {
			"outputs" : {
				"ff_mercury" : { "amount" : 1.5 },
				"fu_nitrogen" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"corruptionore" : {
			"outputs" : {
				"corruptionseed" : { "amount" : 1.5 },
				"liquiddarkwater" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"unstableparticles" : { "amount" : 0.09, "arcbonus" : 0.06 }
			}
		},
		"zerchesiumore" : {
			"outputs" : {
				"zerchesiumbar" : { "amount" : 1.5 },
				"liquidironfu" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"penumbriteore" : {
			"outputs" : {
				"penumbriteshard" : { "amount" : 1.5 },
				"liquiddarkwater" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"phasematter" : { "amount" : 0.09, "arcbonus" : 0.06 }
			}
		},
		"prisiliteore" : {
			"outputs" : {
				"prisilitestar" : { "amount" : 1.5 },
				"liquidgravrain" : { "amount" : 0.18, "arcbonus" : 0.07 },
				"fu_oxygen" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"protociteore" : {
			"outputs" : {
				"protocitebar" : { "amount" : 1.5 },
				"vialproto" : { "amount" : 0.15, "arcbonus" : 0.03 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"solarishard" : {
			"outputs" : {
				"solaricrystal" : { "amount" : 1.5 },
				"liquidnitrogenitem" : { "amount" : 0.18, "arcbonus" : 0.08 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"moonstoneore" : {
			"outputs" : {
				"moonstonebar" : { "amount" : 1.5},
				"helium3gasliquid" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"quietusore" : {
			"outputs" : {
				"quietusbar" : { "amount" : 1.5 },
				"shadowgasliquid" : { "amount" : 0.18, "arcbonus" : 0.04 },
				"ff_silicon" : { "amount" : 0.15, "arcbonus" : 0.15 }
			}
		},
		"irradiumore" : {
			"outputs" : {
				"irradiumbar" : { "amount" : 1.5 },
				"liquidirradium" : { "amount" : 0.18, "arcbonus" : 0.20 },
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"isogenore" : {
			"outputs" : {
				"isogenbar" : { "amount" : 1.5 },
				"icecrystal" : { "amount" : 0.22, "arcbonus" : 0.10 },
				"cryonicextract" : { "amount" : 0.25, "arcbonus" : 0.10 }
			}
		},
		"pyreiteore" : {
			"outputs" : {
				"pyreitebar" : { "amount" : 1.5 },
				"scorchedcore" : { "amount" : 0.22, "arcbonus" : 0.10 },
				"volatilepowder" : { "amount" : 0.25, "arcbonus" : 0.10 }
			}
		},
		"triangliumore" : {
			"outputs" : {
				"triangliumpyramid" : { "amount" : 1.5 },
				"ff_mercury" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"ff_silicon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"effigiumore" : {
			"outputs" : {
				"effigiumbar" : { "amount" : 1.5 },
				"deuterium" : { "amount" : 0.22, "arcbonus" : 0.20 },
				"iodine" : { "amount" : 0.35, "arcbonus" : 0.10 }
			}
		},
		"densiniumore" : {
			"outputs" : {
				"densiniumbar" : { "amount" : 1.5 },
				"liquidironfu" : { "amount" : 0.18, "arcbonus" : 0.10},
				"fu_carbon" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"xithriciteore" : {
			"outputs" : {
				"xithricitecrystal" : { "amount" : 1.5 },
				"solaricrystal" : { "amount" : 0.22, "arcbonus" : 0.10 },
				"staticcell" : { "amount" : 0.25, "arcbonus" : 0.10 }
			}
		},
		"morphiteore" : {
			"outputs" : {
				"morphitebar" : { "amount" : 1.5 },
				"liquidbioooze" : { "amount" : 0.18, "arcbonus" : 0.15 },
				"fu_nitrogen" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},

		// FU ISOTOPES
		"thoriumore" : {
			"outputs" : {
				"thoriumrod" : { "amount" : 1.5 },
				"lead" : { "amount" : 0.03, "arcbonus" : 0.03 },
				"thoriumore" : { "amount" : 0.04, "arcbonus" : 0.03 },
				"unstableparticles" : { "amount" : 0.04, "arcbonus" : 0.06 }
			}
		},
		"neptuniumore" : {
			"outputs" : {
				"neptuniumrod" : { "amount" : 1.5 },
				"neptuniumore" : { "amount" : 0.08, "arcbonus" : 0.02 },
				"plutoniumore" : { "amount" : 0.01, "arcbonus" : 0.05 },
				"unstableparticles" : { "amount" : 0.04, "arcbonus" : 0.02 }
			}
		},

		// MISC
		"bars" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.5 },
				"ironore" : { "amount" : 0.16, "arcbonus" : 0.50 }
			}
		},
		"metallic" : {
			"outputs" : {
				"ironore" : { "amount" : 1.5 }
			}
		},
		"fu_carbon" : {
			"outputs" : {
				"ash" : { "amount" : 1.5 },
				"liquidironfu" : { "amount" : 0.18, "arcbonus" : 0.07 },
				"diamond" : { "amount" : 0.005, "arcbonus" : 0.035 },
				"fu_carbonpure" : { "amount" : 0.02, "arcbonus" : 0.06  }
			}
		},
		"fu_carbonpure" : {
			"outputs" : {
				"diamond" : { "amount" : 1.575, "arcbonus" : 0.045 },
				"fu_carbon" : { "amount" : 0.25, "arcbonus" : 0.10 },
				"fu_carbonpure" : { "amount" : 0.10, "arcbonus" : 0.05 }
			}
		},
		"graphene" : {
			"outputs" : {
				"fu_carbon" : { "amount" : 1.77, "arcbonus" : 0.15 },
				"liquidwater" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"ff_plastic" : {
			"outputs" : {
				"silk" : { "amount" : 1.5 },
				"fu_carbon" : { "amount" : 0.18, "arcbonus" : 0.10 },
				"agaranichor" : { "amount" : 0.15, "arcbonus" : 0.10 }
			}
		},
		"deuterium" : {
			"arc_only" : true,
			"outputs" : {
				"liquiddeuterium" : { "amount" : 1.5 },
				"tritium" : { "amount" : 0.15 },
				"fu_hydrogenmetallic" : { "amount" : 0.15 }
			}
		},
		"fu_hydrogenmetallic" : {
			"arc_only" : true,
			"outputs" : {
				"liquidmetallichydrogen" : { "amount" : 1.5 },
				"fu_hydrogen" : { "amount" : 0.52 },
				"tungstenore" : { "amount" : 0.25 }
			}
		}
	}
}
